@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Rosario:wght@700&display=swap');

/* font-family: 'DM Sans', sans-serif;
  font-family: 'Rosario', sans-serif; */


:root {
  /* ==============font family ==================== */
  --ff-dmSans: 'DM Sans', sans-serif;
  --ff-rosario: 'Rosario', sans-serif;

  /* -------------------color----------------------- */
  --color-primary: #222;
  --color-secondary: #555;
  --color-black: #000;
  --color-white: #fff;

  /* ====================background================== */
  --bg-mint-cream: #f3fbf8;
  --bg-green-lt: #09A66D;
}

/* -------------default style------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

.btn {
  border: none;
  outline: none;
  background: transparent;
}

input {
  font-family: inherit;
  font-size: inherit;
  border: none;
  outline: none;
  /* background: transparent; */

}


/* -------------main style---------------------------- */
body {
  font-family: var(--ff-dmSans);
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  color: var(--color-primary);
}

.wrapper{
  max-width: 1440px;
  margin: 0 auto;
}

/*__________________ кнопка для шапки___________________ */

.link-bg--green{
  background-color: var(--bg-green-lt);
  color: var(--color-white);
}

.header {
  padding: 50px 0 43px 0;
  background: aqua;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.menu {
  display: flex;
}

.header-block {
  display: flex;
  align-items: center;
}

.menu-item:not(:last-child) {
  margin-right: 40px;
}

.menu-link {
  line-height: 24px;
}

.header-logo {
  display: block;
  width: 57px;
}

.form {
  display: flex;
  align-items: center;
}

.search {
  width: 0;
}

.btn {
  width: 40px;
  height: 40px;
  background-color: var(--bg-mint-cream);
  background-image: url(../images/Navigasija/icons/search-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.cart{
  display: block;
  position: relative;
  width: 40px;
  height: 40px;
  margin: 0 32px 0 20px;
  background-color: var(--bg-mint-cream);
  background-image: url(../images/Navigasija/icons/cart.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.cart::after{
  content: "";
  width: 6px;
  height: 6px;
  position: absolute;
  top: 8px;
  right: 13px;
  background-color: var(--bg-green-lt);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.header-link{
  width: 160px;
  padding: 10px 0;
  line-height: 20px;
  text-align: center;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}